<div class="container-fluid">
  <h1>Manage Tags</h1>
  <div class="row">
  <div class="col-sm-4 ">
    <div class="input-group">
      <span class="input-group-addon fa fa-search"></span>
      <input 
            type="text" 
            class="form-control" 
            placeholder="Type in the tag you're searching for..." 
            [(ngModel)]="searchInput" 
            (keydown.enter)="addTag();"
            #sb>
      <span class="input-group-addon btn btn-danger fa fa-remove" (click)="searchInput=''; sb.focus()"></span>
      <span class="input-group-addon btn btn-primary fa fa-plus" (click)="addTag();sb.focus()"></span>
    </div>
  </div>
</div>

  <!--TODO: Apply pagination for the items-->
  <div class="row">
    <div class="col-sm-4 ">
      <table class="table">
        <tr *ngFor="let item of filteredTags; index as i">
          <th><b>{{i+1}}</b></th>
          <td>
            <div class="input-group" [ngClass]="{'has-warning': tagTitle.dirty}">
              <input 
                type="text" 
                class="form-control form-control-sm" 
                placeholder="Enter the tag name here..." 
                [(ngModel)]="item.name"
                placement="top"
                [ngbTooltip]="item.name" 
                (keydown.enter)="updateTag(item.id, tagTitle)"
                #tagTitle="ngModel">
                <!--TODO: Add undo change button-->
              <span 
                class="input-group-addon btn btn-success fa fa-check" 
                (click)="updateTag(item.id, tagTitle);"
                placement="top"
                ngbTooltip="Submit changes">
              </span>
              <span 
                class="input-group-addon btn btn-danger fa fa-minus" 
                (click)="removeTag(item.id)"
                placement="right"
                ngbTooltip="Remove tag">
              </span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>