<div class="row">
  <div class="col-sm-4">
    <div class="input-group">
      <span class="input-group-addon fa fa-search"></span>
      <input type="text" class="form-control" placeholder="Type in the node you're searching for..." [(ngModel)]="searchInput"
        #sb>
      <span class="input-group-addon btn btn-danger fa fa-remove" (click)="searchInput=''; sb.focus()">
        </span>
    </div>
    <tree-root [nodes]="nodes" [options]="treeOptions" #treeView>
      <template #treeNodeTemplate let-node="node" let-index="index">
        <span>{{ node.data.title }}</span>
      </template>
      <template #loadingTemplate>Loading, please wait....</template>
    </tree-root>
    <button class="btn btn-primary fa fa-plus" (click)="newNode()"></button>
  </div>
</div>